{% extends "base.html" %}

{% include "header.html" %}


{% block title %} TODO APP | FLASK {% endblock %}

{% block body %} 
<!-- Creating flash messages in flask -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="container">
  <div class="notification is-success my-4">
    <button class="delete"></button>
    <h1 class="has-text-centered">{{message}}</h1>
  </div>
</div>
{% endfor %}
{% endif %}
{% endwith  %}
<!-- Flash messages creation ends here -->
<!-- we can ad here our all html body stuff -->
<div class="container">
  <div class="notification has-background-info">
    <div class="level">
      <div class="level-left is-size-4 mx-6 has-text-grey-darker">
        <strong>ADD TODO</strong> 
      </div>
      <div class="level-right is-size-4 mx-6 ">
        <button class="button is-rounded is-warning modal-button" data-target="myModal" aria-haspopup="true">Create A Todo</button>
        <!-- creating a modal -->
        <div class="modal" id="myModal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <form action="{{(url_for('addTodo'))}}" method="POST"> 
              <header class="modal-card-head">
                <p class="modal-card-title">New Task</p>
                <!-- <button class="delete" aria-label="close"></button> -->
                <label class="delete" for="element-toggle"></label>
              </header>
              <section class="modal-card-body">
              <!-- creating form for task -->
              
                <div class="field">
                  <label class="label">Task Name</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Enter the task" name="task">
                  </div>
                </div>
            
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success" type="submit">Create Task</button>
                <!-- <button class="button">Cancel</button> -->
              </footer>
            </form>
          <!-- from ends -->
          </div>
        </div>
        <!-- end of modal -->
      </div>
    </div>
  </div>
</div>

<!-- todo list here -->
{% for row in Tasks %}
<div class="container">
  <div class="box py-3 my-3" style="background-color: #1d3557;">
    <div class="level">
      <div class="level-left has-text-white-bis">
        <span>{{row.task_name}}</span>
      </div>
      <div class="level-right is-size-4 ">
        {% if row.task_status == 'notstarted' %}
          <span class="tag is-dark mx-6 is-size-6 is-uppercase">{{row.task_status}}</span>
        {% elif row.task_status == 'progress' %}
          <span class="tag is-warning  mx-6 is-size-6 is-uppercase">{{row.task_status}}</span>
        {% elif row.task_status == 'backlog' %}
          <span class="tag is-danger  mx-6 is-size-6 is-uppercase">{{row.task_status}}</span>
        {% else %}
          <span class="tag is-success  mx-6 is-size-6 is-uppercase">{{row.task_status}}</span>
        {% endif %}
          
        <button class="button is-rounded is-danger modal-button" data-target="editmodel{{row.task_id}}" aria-haspopup="true">Edit</button>
        <!-- creating edit modals  -->
        <div class="modal" id="editmodel{{row.task_id}}">
          <div class="modal-background"></div>
          <div class="modal-card">
            <form action="/update/{{row.task_id}}" method="POST"> 
              <header class="modal-card-head">
                <p class="modal-card-title">Edit Task</p>
                <button class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">              
                <div class="control">
                  <input class="input is-primary my-3" type="hidden" name="taskid" value="{{row.task_id}}">
                  <input class="input is-primary my-3" type="text" name="taskName" value="{{row.task_name}}">
                </div>
                <div class="control">
                  <input class="input is-primary my-3" type="text" value="Task Status is :{{row.task_status}}" readonly>
                </div>
                <div class="select my-3">
                  <select name="taskStatus">
                    <option value="notstarted">Select Task Status</option>
                    <option value="progress">In-Progress</option>
                    <option value="backlog">Backlog</option>
                    <option value="completed">Completed</option>
                  </select>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success" type="submit">Update Task</button>
              </footer>
            </form>
          </div>
        </div>
        <!-- Edit Modal creation ends here -->
        <a href="/delete/{{row.task_id}}" class="button is-rounded is-danger mx-3" data-target="editmodel" aria-haspopup="true">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- todo list ends here -->


{% endblock %}
